#GCFormPanel { 
    background-color: #ADD8E6;
}

button { 
    background-color: skyblue; border-radius: 3px; border-width: 2px; border-style: outset;
}
button:hover { background: turquoise; border-color: #8bb; }
#GCOptionsTabs { background-color: blue; }
menubar { background-color: darkcyan ; border-radius: 3px; border-width: 2px; border-style: outset; }